%inner-container {
    @include inner-container;
}

%container {
    @include container;
}

%clearfix {
    @include clearfix;
}

%nav-anchor {
    text-decoration: none;
    display: inline-block;
}

%reset-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

%inline-list {
    @extend %reset-list;
    li {
        display: inline-block;
    }
}

%dropcap {
    float: left;
    font-family: Linux Libertine Initials;
    font-size: 4em;
    line-height: 0.8;
    font-weight: normal;
    font-variant: none;
}
