//-- Based on http://goldengridsystem.com/
//-- Container for holding other elements
@mixin container($sides: 1, $top: 2) {
    margin: #{$top*calc-gutter()}rem $sides*$column;
}

//-- Simple elastic gutters
//-- Note: box-sizing will not work in IE6-7
@mixin inner-container {
    padding: 0 #{calc-gutter()}em;
}

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// Ornaments
// -------
// To not need to write all of the ornament code
@mixin ornament($size, $ornament) {
    content: '';
    width: map-get($size, width);
    height: map-get($size, height);
    background: url(/assets/styles/ornaments/#{$ornament}.svg) 50% 0/contain no-repeat;
    display: inline-block;
}

// Borders
// -------
@mixin border-separator-top {
    border-bottom: 3px solid;
    margin-bottom: 1px;
}

@mixin border-separator-bottom {
    border-top: 1px solid;

    &:last-child {
        border-bottom: 0 none;
    }
}
