---
shortTitle: Home
pageTitle: "So, what's this about?"
title: "So, what's this about?"
layout: index
tweetables:
    - "You like my writing? Sign up for my monthly newsletter!"
    - "Not everything is as it seems. Magic exists in the shadows …"
    - "Norns weave destiny; I weave stories. Mystic threads from then to now"
facebookables:
    - "Sign up for my monthly newsletter!"
    - "Norns weave destiny; I weave stories"
    - "Get excerpts, character profiles & more"
excerpt: "Småty is a term for supernatural critters, and if you're interested in magical realism or Scandinavial folklore, this is a good place to start."
---

<p class="c-lead c-lead--ornamented"><span class="c-lead__opening">This page is about a world that exists in</span> my imagination, at least
mainly. It’s called <em>Småty</em> since that’s a dialectal word from Bohuslän, Sweden,
for the various supernatural critters in the world. If you are interested in
Viking historical and contemporary realistic fantasy inspired by Scandinavian
folklore (including the Norse gods), this is a good place for you.</p>

[The stories][stories] are a mix of historical (mainly the iron age, both
before the so-called Viking age and during) and contemporary, something in
the magical realism line. They are all set in Sweden, generally with
connection to Bohuslän, which in old times was known as either *Alfheim*
or *Ranrike*. I prefer Ranrike, so that is the term used in my world.

Check out [the characters][characters] (which includes interviews and bios), [the
locations][locations] and their real-world inspiration, or [the stories][stories], which has excerpts of longer works as well as both
microfiction (up to 140 characters) and flash fiction (up to about 2500
words).

[stories]: /stories
[characters]: /characters
[locations]: /locations
