<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebSite"> <!--<![endif]-->
  <head {{#if hasFeed}} class="h-feed"{{/if}}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> metadata }}

    <!-- build:css /assets/styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="/node_modules/normalize-opentype.css/normalize-opentype.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->

    <!-- build:js /assets/scripts/head.js -->
    <script src="/assets/scripts/modernizr.js"></script>
    <script src="/node_modules/picturefill/dist/picturefill.js"></script>
    <!-- endbuild -->

    {{> favicons }}
  </head>

  <body>
{{> gtm }}
    <header>
      <a href="/" class="logo"><img src="/assets/images/logo-original.png" alt="Antonius M. Hogebrandt logo"></a><div class="typl8-beta">Antonius M. Hogebrandt <small>Author—Dreamer</small>
       </div>
      </header>
<main>
<div class="non-semantic-protector">
<div class="ribbon">
    <nav class="ribbon-content">
          {{ navItems "root" }}
            <div id="current">Current page / Main content</div>
    </nav>
    </div>
</div>
  <div id="content" itemscope itemtype="http://schema.org/Article">
    {% body %}
      </div><!-- content -->
    </main>
<footer>
    <ul>
        <li><a href="#content">Top</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="/privacy-cookies">Privacy &amp; cookies</a></li>
        <li><a href="/colophone">Colophone</a></li>
        <li><a href="https://antoniusm.com">Copyright © 2016</a></li>
    </ul>
    <ul>
        <li>{{> lastUpdated }}</li>
    </ul>
</footer>

    <!-- smoosh -->
    <script src="/node_modules/fontfaceobserver/fontfaceobserver.js"></script>
    <script src="/assets/scripts/fontLoader.js"></script>
    <!-- endsmoosh -->
    <!-- build:js /assets/scripts/foot.js -->
    <!-- bower:js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <!-- endbower -->
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
  </html>
