<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebSite"> <!--<![endif]-->
  <head {{#if hasFeed}} class="h-feed"{{/if}}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> metadata }}

    <!-- build:css /assets/styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="/node_modules/normalize-opentype.css/normalize-opentype.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->

    <!-- build:js /assets/scripts/head.js -->
    <script src="/assets/scripts/modernizr.js"></script>
    <script src="/node_modules/picturefill/dist/picturefill.js"></script>
    <!-- endbuild -->

    {{> favicons }}
  </head>

  <body>
{{> gtm }}
    <header class="c-site__header">
      <a href="/" class="c-site__logo"><img src="/assets/images/logo-original.png" alt="Antonius M. Hogebrandt logo"></a><div class="typl8-beta">Antonius M. Hogebrandt <small>Author—-Dreamer</small>
       </div>
      </header>
<main>
<div class="c-ribbon__non-semantic-protector">
<div class="c-ribbon">
    <nav class="c-ribbon__content c-navigation--main">
          {{ navItems "root" }}
            <div id="c-navigation--main__item--current">Current page / Main content</div>
    </nav>
    </div>
</div>
  <div id="content" class="content" itemscope itemtype="{{ item-type }}">
        <meta itemprop="author publisher">
            <meta itemprop="name" content="Antonius M. Hogebrandt">
        </meta>
        <meta itemprop="dateModified" content="{{ lastUpdated "YYYY-MM-DDTHH:mm:ssZ" }}">
    {% body %}
      </div><!-- content -->
    </main>
<footer class="c-site__footer">
<div id="mc_embed_signup">
        <form action="//xn--smty-roa.us10.list-manage.com/subscribe/post?u=d95b087d8091812e7b3b1a698&amp;id=d2dcc47b1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">E-mail </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d95b087d8091812e7b3b1a698_d2dcc47b1c" tabindex="-1" value=""></div>
            <input type="submit" value="Sign up for monthly newsletter" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <ul class="c-navigation--footer">
        <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="#content">Top</a></li>
        <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/contact">Contact</a></li>
        <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="https://antoniusm.se/rss.xml">RSS</a></li>
    </ul>
    <ul class="c-navigation--footer">
        <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/privacy-cookies">Privacy &amp; cookies</a></li>
        <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/colophone">Colophone</a></li>
        <li class="c-navigation--footer__item">{{ copyright 'c-navigation--footer__link'}}</li>
    </ul>
    <ul class="c-navigation--footer">
        <li class="c-navigation--footer__item">{{> lastUpdated }}</li>
    </ul>
</footer>

    <!-- smoosh -->
    <script src="/node_modules/fontfaceobserver/fontfaceobserver.js"></script>
    <script src="/assets/scripts/fontLoader.js"></script>
    <!-- endsmoosh -->
    <!-- build:js /assets/scripts/foot.js -->
    <!-- bower:js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <!-- endbower -->
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
  </html>
