---
layout: master
---
<div class="o-layout__container">
    {{> sidebar }}
    <main id="content">
        <meta itemprop="author publisher">
            <meta itemprop="name" content="Antonius M. Hogebrandt">
        </meta>
        <meta itemprop="dateModified" content="{{ lastUpdated "YYYY-MM-DDTHH:mm:ssZ" }}">
        {{> page-header }}
        {% body %}
    </main>
</div>
