---
title: Colophone
layout: page
metaType: website
excerpt: The typefaces are Linux Libertine, and the design is entirely of my imagination, though built on open source works. Generated with Assemble.
pageTitle: Colophone
---

{{#markdown}}
## Libraries

[Normalize][6]
:   A CSS library to normalize the styles to compensate for different browsers

[Typeplate][7]
:   Typography is not an accident, good typography even less so

[jQuery][8]
:   *The* Javascript library for modern design

[Modernizr][9]
:   Javascript library for checking capabilities

[Selectivizr][10]
:   Polyfill for advanced CSS-selectors

[Fancybox][11]
:   A lightbox script for mixed content

[jQuery Mousewheel Plugin][12]
:   Plugin to add cross-browser support for the mousewheel

## Icons <span class="amp">&</span> Ornaments

[We love Icon Fonts!][13] — A free <span class="amp">&</span> open source icon fonts hosting service for icons.

*   [Entypo][14] by [Daniel Bruce][15]
*   [Brandico][16] by [Fontello][17]
*   [Font Awesome][18] by [Dave Gandy][19]
*   [Printers Ornaments One][20] by Michelle Dixon
*   Logo is [Constanze Initials][21] by ClaudeP

## Typography

Both text and heading type are [Calendas Plus][22] by [Atipo][23], a beautiful fontface with a very classical air to it. I like the lines and variance in strokes, which creates a very pleasant view.

The various ornaments on headers and paragraphs, as well as the different styles of headers (crossheads for first three levels, indented sideheads for the following two and finally the run-in sidehead for the sixth level) are inspired by the masterwork <cite>The Elements of Typographic Style</cite> by Robert Bringhurst.

For some extra styling of typographical elements (such as wrapping ampersands in a `span` with the class `amp`) I use an updated version of [WP-Typography][24], originally created by [Jeffrey D. King][25].

## Other design concerns

[Exclusive Paper][26] from Subtle Patterns
:   Background for the site, and overall Subtle Patterns is a nice site

## Development

The creation of this theme is an experiment. It has been based on testing some of the newest and most interesting tools out there, as well as using tried-and-true methods.

## Language Abstraction

[Sassy CSS][27]
:   A Pre-processor language heavily based on CSS-syntax. Used together with [Compass][28] to bring even more ease into the creation of good CSS.

[Markdown][29]
:   Though the HTML is written normally, posts <span class="amp">&</span> pages are written using Markdown, within the context of WordPress the plugin [WP Markdown][30] by [Stephen Harris][31].

## Development Tools

### Dependencies Handler <span class="amp">&</span> Package Managers

[Ruby][32]
:   A language in itself, but for my purposes uses a `gemfile` to install required gems, mainly CSSCSS and Sass.

[NodeJS][33]
:   Server-side JavaScript, here only used for installation of build tools such as Grunt, using the package manager `npm` and `package.json` to install required packages

[Bower][34]
:   Handling web dependencies such as Typeplate and WordPress, uses the file `bower.json`

[Composer][35]
:   Dependency manager for PHP

### Various Tools

[GruntJS][36]
:   According to it's creator, Grunt is <q>The JavaScript Task Runner</q>, used to automate boring chores such as automatically lint JavaScript and PHP, compile SCSS and build a lean, mean Modernizr machine. The specifications are found in the project's [Gruntfile][37]

[Yeoman][38]
:   A workflow more than anything else, where Yo is a scaffolder, pulling in files and creating default settings. This theme is based on the default webapp, but one of my WIP is to create a scaffolder for themes

[CSSCSS][39]
:   A ruby gem (with a grunt wrapper) for checking CSS for duplicate styles, as one part of a better (and cleaner) codebase

[Color Scheme Designer][40]
:   A good tool for prototyping colours that go well together

 [6]: http://necolas.github.io/normalize.css/
 [7]: http://typeplate.com/
 [8]: http://jquery.com/
 [9]: http://modernizr.com/
 [10]: http://selectivizr.com
 [11]: http://fancyapps.com/fancybox/
 [12]: https://github.com/brandonaaron/jquery-mousewheel
 [13]: http://www.weloveiconfonts.com
 [14]: http://entypo.com/
 [15]: http://danielbruce.se/
 [16]: http://fontello.github.io/brandico.font/demo.html
 [17]: http://fontello.com/
 [18]: http://fortawesome.github.io/Font-Awesome/
 [19]: http://davegandy.com/
 [20]: http://www.fontsquirrel.com/fonts/Printers-Ornaments-One
 [21]: http://www.dafont.com/constanze-initials.font
 [22]: http://www.calendasplus.com
 [23]: http://www.atipo.es/
 [24]: https://github.com/Melindrea/wp-typography
 [25]: http://kingdesk.com/
 [26]: http://subtlepatterns.com/exclusive-paper/
 [27]: http://thesassway.com/
 [28]: http://compass-style.org
 [29]: http://daringfireball.net/projects/markdown/
 [30]: http://wordpress.org/extend/plugins/wp-markdown/
 [31]: http://www.stephenharris.info/
 [32]: http://www.ruby-lang.org/en/
 [33]: http://nodejs.org/
 [34]: http://bower.io/
 [35]: http://getcomposer.org/
 [36]: http://gruntjs.com/
 [37]: https://github.com/Melindrea/mariehogebrandt-se/blob/master/Gruntfile.js
 [38]: http://yeoman.io/
 [39]: http://zmoazeni.github.io/csscss/
 [40]: http://colorschemedesigner.com/
{{/markdown}}
