<nav class="c-pager u-clearfix">
    <ul>
        {{#if pager.prev}}{{#with pager.prev}}<li class="c-pager__previous"><a href="{{linkTo key 'archives'}}" rel="prev"><span aria-hidden="true">&larr;</span> {{data.title}}</a></li>{{/with}}{{/if}}
        {{#if pager.next}}{{#with pager.next}}<li class="c-pager__next"><a href="{{linkTo key 'archives'}}" rel="next">{{data.title}} <span aria-hidden="true">&rarr;</span></a></li>{{/with}}{{/if}}
  </ul>
</nav>
