<figure id="{{ id }}">
    <a href="{{ 640Url }}" data-rel="thumbnail">
        <img alt="{{ alt }}" src="{{ url }}" width="200" height="200">
    </a>
    {{#if caption}}<figcaption>{{ caption }}</figcaption>{{/if}}
</figure>
