%polaroid {
    padding: 8px;
    padding-bottom: 12px;
    background-color: #c0c0c0;
    border: rgba(0, 0, 0, 0.2);
    .no-rgba & {
        border: #f9f9f9;
    }
    @extend %standard-box-shadow;
}

.featured-image {
    @extend %polaroid;
}

header .featured-image {
    margin-bottom: 2rem;
}
img {
    max-width: 100%;
    height: auto;
}

.inline-image {
    @extend %polaroid;
    display: inline-block;
}

.gallery {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        max-width: 49%;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
    }

    img {
        @extend %polaroid;
    }

    figure {
        margin: 0;
    }
}

@media only screen
and (min-width : 500px) {
    [data-rel=thumbnail] + figcaption {
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding:0;
        border:0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}
