---
layout: master
---

<div id="content" class="content" itemscope itemtype="{{ item-type }}">
    <meta itemprop="author publisher">
        <meta itemprop="name" content="Antonius M. Hogebrandt">
    </meta>
    <meta itemprop="dateModified" content="{{ lastUpdated "YYYY-MM-DDTHH:mm:ssZ" }}">

        {% body %}
</div><!-- content -->
</main>
