---
title: Colophone
layout: page
metaType: website
excerpt: The typefaces are Zelda and Linux Libertine, and the design is entirely of my imagination, though built on open source works. Generated with Assemble.
pageTitle: Colophone
---

    <h2>Typefaces</h2>
<p>Main headings are Zelda by <a href="https://twitter.com/artimasa">Artimasa</a>, distributed by <a href="https://creativemarket.com/artimasa/81863-Zelda">Creative Market</a>.</p>
<p>The body typeface is <a href="http://www.linuxlibertine.org/index.php?id=1&amp;L=1">Linux Libertine</a>. It is open source, and the family includes both the main serif, a complementing sans-serif (called Linux Biolinum) and the attractive Linux Libertine Initial, which is used for the drop caps.</p>

<h2>Design</h2>
<p>This is entirely my designing and imagining, with support from other
projects and people.</p>

<h2>Other Acknowledgments</h2>
<ul>
<li>Jonathan Buck, for continuous support in both writing, coding and design</li>
<li>My lovely twitter friends. I won’t name them, since then we’ll be here all
day. Suffice to say that they’re supportive and helpful, and I wish them the best.</li>
<li>Open Source without which the work would be tripled:
<ul>
<li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
<li><a href="https://github.com/kennethormandy/normalize-opentype.css">Normalize-opentype.css</a></li>
<li><a href="http://typeplate.com/">Typeplate</a></li>
<li><a href="http://goldengridsystem.com/">Golden Grid System</a></li>
<li><a href="http://gulpjs.com/">Gulp with plugins</a></li>
<li><a href="http://paletton.com/#uid=6000u0kw0czmgmnr6htHN7YSm3T">Paletton</a></li>
<li><a href="https://github.com/jonschlinkert">Jon Schlinkert</a> and <a href="https://github.com/assemble/assemble">Assemble</a></li>
</ul></li>
</ul>
