---
title: What is going on?
layout: page
metaType: website
excerpt: A good place to find out what I'm up to, which will be updated from time to time. Currently revising a novella, writing on my serial, and writing a novel.
pageTitle: What I'm up to
menu:
    - main
menu-title: Now
---

<ul>
  <li>Working on moving all of my sites over to using AssembleJS</li>
  <li>Going back to revising Angel Maker & Of Ashes and Ocean</li>
  <li>2nd chapter of Stockholm Sentinels</li>
  <li>I will finish the first novel in Helga's series and query</li>
</ul>
