---
title: Press Kit &amp; Presence
layout: page
metaType: website
excerpt: Links to guest posts and interviews, as well as a curated collection of nice tweets about my stories. Watch this space for a press kit.
pageTitle: Press
menu:
    - main
menu-title: Press
---

<h2>Guest posts &amp; Interviews</h2>
    <ul>
      <li><a href="https://jillmarcotte.wordpress.com/2015/10/19/matter-of-factly-fictional/">Jill Marcotte, October 2015</a></li>
      <li><a href="http://www.friday-phrases.com/a-monday-with-melindrea/">Friday Phrases, August 2015</a></li>
      <li><a href="https://asexualartists.wordpress.com/2015/07/31/interview-antonius-marie/">Asexual Artists, July 2015</a></li>
    </ul>

<h2>Testimonials</h2>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/melindrea">@melindrea</a> is brilliant and an inventive writer, and has such an open mind. So refreshing &lt;3</p>&mdash; Ishki (@jamlamlaser) <a href="https://twitter.com/jamlamlaser/status/715964985969655809">April 1, 2016</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Awesome short story from my friend. ❤❤ <a href="https://t.co/31o7WoSJHp">https://t.co/31o7WoSJHp</a></p>&mdash; pankaykes (@mx_pankaykes) <a href="https://twitter.com/mx_pankaykes/status/703654583113900032">February 27, 2016</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Read this, it&#39;s BEAUTIFUL. Gave me goosebumps. Gorgeous flash fiction from <a href="https://twitter.com/melindrea">@melindrea</a>. <a href="https://t.co/pdOnGl9H5a">https://t.co/pdOnGl9H5a</a></p>&mdash; Kizzywiggle (@kizletwiggle) <a href="https://twitter.com/kizletwiggle/status/703639158535880704">February 27, 2016</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Wow wow wow ! The short story <a href="https://twitter.com/melindrea">@melindrea</a> sent me you guys!</p>&mdash; C•A| SHAMlM (ZW) (@Curate_Africa) <a href="https://twitter.com/Curate_Africa/status/703193012474662912">February 26, 2016</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Halfway through The Angelmaker and it&#39;s blowing me away <a href="https://twitter.com/melindrea">@melindrea</a>. Been waiting weeks to read it! Worth&nbsp;it!</p>&mdash; The Sock Thief (@Dammit__Woman) <a href="https://twitter.com/Dammit__Woman/status/618714943215550464">July 8, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Wow <a href="https://twitter.com/Melindra">@Melindra</a> , loving your story! It&#39;s beautiful. I love the pronoun thing, and it makes me want to get my fiddle out.&nbsp;😊</p>&mdash; Martha Dunlop (@MarthaDunlop) <a href="https://twitter.com/MarthaDunlop/status/606530350282637314">June 4, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Been beta reading a brilliant Viking story by <a href="https://twitter.com/melindrea">@melindrea</a> this afternoon. I am currently a tiny bit obsessed with Vikings and loved&nbsp;it!</p>&mdash; Lacey Dearie (@LaceyDearie) <a href="https://twitter.com/LaceyDearie/status/606125939823661056">June 3, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/melindrea">@melindrea</a> Freakin&#39; brilliant, as always!&nbsp;:)</p>&mdash; FridayPhrases (@FridayPhrases) <a href="https://twitter.com/FridayPhrases/status/594126489718755328">May 1, 2015</a></blockquote>
<blockquote class="twitter-tweet" lang="en"><p>Nothing better than a little <a href="https://twitter.com/hashtag/Viking?src=hash">#Viking</a> era fiction to while away a rainy afternoon. Props to <a href="https://twitter.com/melindrea">@melindrea</a> for a rather excellent battle&nbsp;scene!</p>&mdash; Eremi Amabebe (@Eremipagamo) <a href="https://twitter.com/Eremipagamo/status/570985695671652353">February 26, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p><a href="https://twitter.com/melindrea">@melindrea</a> Oh, please don&#39;t ever stop writing these kind of <a href="https://twitter.com/hashtag/FP?src=hash">#<span class="caps">FP</span></a>&#39;s. I love them so&nbsp;much.</p>&mdash; FridayPhrases (@FridayPhrases) <a href="https://twitter.com/FridayPhrases/status/568677092285681664">February 20, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p>Read a wonderful short story by <a href="https://twitter.com/melindrea">@melindrea</a> this morning. Her use of scent and landscape is&nbsp;incredible.</p>&mdash; Angelina Williamson (@Angelinawrites) <a href="https://twitter.com/Angelinawrites/status/567405164957413376">February 16, 2015</a></blockquote>
<blockquote class="twitter-tweet"><p>Just for fun edited fellow <a href="https://twitter.com/hashtag/Vikings?src=hash">#Vikings</a> writer&#39;s short story and really loved it - both the story and the work as such! Good luck to <a href="https://twitter.com/melindrea">@melindrea</a>!</p>&mdash; Sarah Dahl (@sarahdahl13) <a href="https://twitter.com/sarahdahl13/status/565603781938020352">February 11,&nbsp;2015</a></blockquote>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
