html * {
    box-sizing: border-box;
}

@import "colours";
@import "variables";
@import "system/mixins";
@import "system/functions";
@import "system/anonymous-styles";
@import "system/utilities";

@import "base/typography";
@import "base/layout";
@import "base/images";
@import "base/list";
@import "base/links";

@import "navigation";
@import "magnific-popup/src/css/main";

// Components
@import "components/site";
@import "components/pager";
@import "components/pullquote";
@import "components/navigation";
@import "components/ribbon";



html {
    text-shadow: rgba(255, 255, 255, .4) 0 1px 0;
    color: $red;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$red+0,1f0000+100 */
    background: rgb(100,0,0); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(100,0,0,1) 0%, rgba(31,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(100,0,0,1)), color-stop(100%,rgba(31,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,0,0,1) 0%,rgba(31,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(100,0,0,1) 0%,rgba(31,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(100,0,0,1) 0%,rgba(31,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(100,0,0,1) 0%,rgba(31,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='#1f0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-attachment: fixed;
}


body, html {
  margin: 0;
}

main {
    background: url('/assets/images/parchment.jpeg');
    padding: 4rem;

    border: 1px solid $red;
    border-radius: 0 0 120px 120px / 0 0 6px 6px;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 15px;
      left: 10px;
      width: 50%;
      height: 20%;
      max-width: 300px;
      box-shadow :0 15px 10px rgba(0, 0, 0, 0.7);
      transform: rotate(-3deg);
    }

    &:after{
      right: 10px;
      left: auto;
      transform: rotate(3deg);
    }
}


.intro {
    font-variant: small-caps;
    font-weight: bold;
}
code,
kbd,
pre,
samp {
    font-family: Source Code Pro, Courier, monospace;
}

ul {
    list-style: square;
}

ul ul {
    list-style: disc;
}

ul ul ul {
    list-style: circle;
}
ol {
    list-style: upper-roman;
}

ol ol {
    list-style: decimal;
}

ol ol ol {
    list-style: lower-alpha;
}

abbr {
     color: $red-light;
}

mark,
::selection {
    background: $purple;
    color: $purple-light;
    text-shadow: none;
}

::-moz-selection {
    background: $purple;
    color: $purple-light;
    text-shadow: none;
}

.c-article__footer {
  border-top: 2px solid $red;
}
.c-article__meta {
  font-style: italic;
  font-size: 85%;
}

.c-article__meta--list {
    margin-top: -1.4rem;
}

.c-article__list {
    list-style: none;


    .even .featured-image {
        float: left;
        margin-right: 1.2rem;
        transform: rotate(5deg);
    }

    .odd .featured-image {
        float: right;
        margin-left: 1.2rem;
        transform: rotate(-5deg);
    }

    a {
        &:link,
        &:visited {
            color: $red;
        }

        &:hover,
        &:active {
            color: $color-primary-1;
        }
    }
}

.o-header {
    margin-right: -2rem;
    margin-left: -2rem;
}

.ord {
    @extend sup;
}

p .caps {
    font-variant: small-caps;
    font-weight: 600;
}

p .amp {
    font-family: Georgia, Linux Libertine, serif;
    font-size: 1.06em;
}


main #mc_embed_signup_scroll {
    padding-bottom: 2rem;
}
