<ul class="c-navigation--footer">
    <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="#content">Top</a></li>
    <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/contact">Contact</a></li>
    <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="{{ site.url }}/rss.xml">RSS</a></li>
</ul>
<ul class="c-navigation--footer">
    <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/privacy-cookies">Privacy &amp; cookies</a></li>
    <li class="c-navigation--footer__item"><a class="c-navigation--footer__link" href="/colophone">Colophone</a></li>
    <li class="c-navigation--footer__item">{{ copyright 'c-navigation--footer__link'}}</li>
</ul>
<ul class="c-navigation--footer">
    <li class="c-navigation--footer__item">{{> last-updated }}</li>
</ul>
