<header class="o-header">
    <h1>{{ pageTitle }}</h1>
    {{#if subTitle}}<h2><small>{{ subTitle }}</small></h2>{{/if}}
    {{#if featuredImage}}{{#with featuredImage}}
        {{> image }}
    {{/with}}{{/if}}
</header>
