<header class="o-header">
    <h1>{{ pageTitle }}{{#if subTitle}} <small>{{ subTitle }}</small>{{/if}}</h1>
    {{#if featuredImage}}{{#with featuredImage}}
        {{> image }}
    {{/with}}{{/if}}
</header>
