<footer class="c-site__footer">
    <a class="o-patreon-link" href="https://patreon.com/antoniusm"><img src="/assets/images/become_a_patron_button.png" alt="Become a patron" width="217"></a>
    <script src="https://ko-fi.com/widgets/widget_2.js"></script><script>kofiwidget2.init('Buy Me a Coffee', '#d67878', 'A67610WU');kofiwidget2.draw();</script>
    {{> mailchimp }}
    {{> footer-links }}
</footer>

    {{> footer-assets}}
  </body>
  </html>
