
{{> head }}

    {{> browse-happy }}
    <header class="c-site__header">
        <a href="/" class="c-site__logo"><img src="/assets/images/logo-original.png" alt="Antonius M. Hogebrandt logo"></a>
        <div class="typl8-beta">Antonius M. Hogebrandt <small>Author—-Dreamer</small></div>
    </header>

<main>
<div class="c-ribbon__non-semantic-protector">
    <div class="c-ribbon">
        <nav class="c-ribbon__content c-navigation--main">
              {{ navItems "root" }}
                <div id="c-navigation--main__item--current">Current page / Main content</div>
        </nav>
    </div>
</div>
