//-- FEATURED IMAGE --//

.c-featured-image {
    @extend %polaroid;
}

.c-featured-image--large {
    padding: 1rem;
    padding-bottom: 2rem;
}

.c-featured-image--portrait {
    display: block;
    margin: 0 auto;
    @extend %polaroid;
}

header .c-featured-image,
.c-featured-image--portrait {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.c-article__list__item--even .c-featured-image--list {
    float: left;
    margin-right: 1.2rem;
    transform: rotate(5deg);
}

.c-article__list__item--odd .c-featured-image--list {
    float: right;
    margin-left: 1.2rem;
    transform: rotate(-5deg);
}
