<footer class="o-layout__container c-site__footer">
    {{> mailchimp }}
    {{> footer-links }}

</footer>

    {{> footer-assets}}
    <div class="o-site-footer__footer">
        <a href="https://enby.science">
        We
        <span class="[ c-svg-icon c-svg-icon--heart ]"><svg class="[ c-svg-icon__svg c-svg-icon--heart__svg ]">
            <use
        xlink:href="/assets/images/sprite.svg#icon-heart"></use>
        </svg></span>
        Enbies
        </a>
    </div>
  </body>
  </html>
