---
title: Thoughts &amp; Ramblings
layout: master
metaType: website
excerpt: List of blog posts on various topics including random facts, inspiration and why I write, as well as short stories, written portraits and how-tos.
---

<h1>Enjoy my musings</h1>

<ul>
{{#posts}}
    {{#withSort items "data.posted" reverse="true"}}
        <li><a href="{{linkTo key "posts"}}">{{data.title}} <small><time datetime="{{moment data.posted format="YYYY-MM-DDTHH:mm:ssZ"}}">{{moment data.posted format="MMMM Do, YYYY"}}</time></small></a></li>
    {{/withSort}}
{{/posts}}
</ul>
