---
title: Thoughts &amp; Ramblings
layout: master
metaType: website
excerpt: List of blog posts on various topics including random facts, inspiration and why I write, as well as short stories, written portraits and how-tos.
---

<h1>Enjoy my musings</h1>

{{#posts}}
<ul>
  {{#each items}}
    <li><a href="{{link-to key "posts"}}">{{data.title}}</a></li>
  {{/each}}
</ul>
{{/posts}}
