---
title: Thoughts &amp; Ramblings
layout: master
metaType: website
excerpt: List of blog posts on various topics including random facts, inspiration and why I write, as well as short stories, written portraits and how-tos.
---

<h1>Enjoy my musings</h1>

{{#posts}}
<ul>
    <li><a href="/blog/deep-pov/">My issues with Deep PoV</a></li>
    <li><a href="/blog/the-mourning-ocean/">The Mourning Ocean--A Landscape</a></li>
    <li><a href="/blog/revising-angelmaker/">Look at revision &amp; cover reveal</a></li>
    <li><a href="/blog/ramblings/">The anatomy of an author, or Building Ethos</a></li>
    <li><a href="/blog/review-haunting/">Review: The Haunting of Hill House</a></li>
    <li><a href="/blog/the-forgotten-violin/">The Forgotten Violin, flash fiction</a></li>
    <li><a href="/blog/coauthor-midnatt/">Midnatt, the cat</a></li>
    <li><a href="/blog/why-write/">Why write?</a></li>
</ul>
{{/posts}}
