---
title: Contact Information
layout: master
metaType: website
excerpt: Contact me through Twitter, mail, a hosted contact form, or various other ways. Includes my GPG fingerprint and a link to my public key.
pageTitle: Contact Me
---

<dl class="typl8-lining">
    <dt>Twitter</dt>
    <dd><a href="https://twitter.com/melindrea">@melindrea</a></dd>
    <dt>E-mail</dt>
    <dd>media[at]antoniusm.se</dd>
    <dt>Tablo</dt>
    <dd><a href="https://tablo.io/melindrea/">Melindrea</a></dd>
    <dt>Wattpad</dt>
    <dd><a href="https://www.wattpad.com/user/MarieHogebrandt">Marie Hogebrandt</a></dd>
    <dt>Goodreads</dt>
    <dd><a href="https://www.goodreads.com/author/show/14109120.Antonius_M_Hogebrandt">Antonius M. Hogebrandt</a></dd>
    <dt>Amazon</dt>
    <dd><a href="https://www.amazon.com/author/antoniusmhogebrandt">Antonius M. Hogebrandt</a></dd>
</dl>

<div id="mc_embed_signup">
        <form action="//xn--smty-roa.us10.list-manage.com/subscribe/post?u=d95b087d8091812e7b3b1a698&amp;id=d2dcc47b1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
            <h2>Newsletter</h2>
            <p>Sign up to get a monthly update about my writing.</p>
            <label for="mce-EMAIL">E-mail </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d95b087d8091812e7b3b1a698_d2dcc47b1c" tabindex="-1" value=""></div>
            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<h2>Public PGP key</h2>

<dl class="typl8-lining">
    <dt>Key</dt>
    <dd><a href="https://keybase.io/melindrea/key.asc">Keybase</a></dd>
    <dt>Fingerprint</dt>
    <dd>F355 7836 9E71 10DB B0BA 25EA 48BE 226F 7DE0 2745</dd>
</dl>
<!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://melindrea.typeform.com/to/iV3NIk" data-text="Contact Form" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-size: 12px;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=iV3NIk&amp;utm_source=typeform.com-1821560-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=EN"  target="_blank">Typeform</a></div>
