---
title: Index page
layout: master
metaType: website
excerpt: Antonius M. works with the literary speculative fiction genre, weaving threads of the human experience on the loom of Scandinavian folklore.
images:
    old-photo:
        size: original
        id: old-photo
---


<img src="{{ images.old-photo.url }}" alt="{{ images.old-photo.alt }}" width="{{ images.old-photo.size.width }}" height="{{ images.old-photo.size.height }}" class="portrait">


<p><span class="intro">Antonius M. works with the literary speculative</span> fiction genre, weaving threads of the human experience—historic and contemporary—on the loom of Scandinavian folklore. These experiences—from their own and others’ minds—include trauma, mental health, first love, being transgender, and being a stranger. They live in Sweden with their partner and cat, and take frequent trips to the west coast, to bask in the atmosphere that inspires most of their stories.</p>
