---
title: Index page
layout: master
---

<img src="/assets/images/old-photo-400x602.jpg" alt="Black and white photo of Antonius M. Hogebrandt" class="portrait">

<p><span class="intro">Antonius M. works with the literary speculative</span> fiction genre, weaving threads of the human experience—historic and contemporary—on the loom of Scandinavian folklore. These experiences—from their own and others’ minds—include trauma, mental health, first love, being transgender, and being a stranger. They live in Sweden with their partner and cat, and take frequent trips to the west coast, to bask in the atmosphere that inspires most of their stories.</p>
