---
title: What is going on?
layout: master
metaType: website
excerpt: A good place to find out what I'm up to, which will be updated from time to time. Currently revising a novella and writing short stories.
---

<h1>What I'm up to</h1>

<ul>
  <li>Finalising Änglamakerskan, to query in March</li>
  <li>Working on Raven-born, a YA contemporary fantasy</li>
  <li>Writing a few short stories (&lt; 3000 words)</li>
</ul>
