---
title: What is going on?
layout: master
---

<h1>What I'm up to</h1>

<ul>
  <li>Finalising Änglamakerskan, to query in March</li>
  <li>Working on Raven-born, a YA contemporary fantasy</li>
  <li>Writing a few short stories (&lt; 3000 words)</li>
</ul>
