---
title: What is going on?
layout: page
metaType: website
excerpt: A good place to find out what I'm up to, which will be updated from time to time. Currently revising a novella and writing short stories.
pageTitle: What I'm up to
---

<ul>
  <li>Working on a Swedish story for NaNoWriMo</li>
  <li>Taking a class in how to write modern stories with myths and fairy tales</li>
  <li>Working on moving all of my sites over to using AssembleJS</li>
  <li>Christmas gifts!</li>
</ul>
