---
title: Policies
layout: master
metaType: website
excerpt: No information is saved. The IP address is anonymised before it is reported to Google Analytics. A third-party DoubleClick cookie is also present.
---

<h1>Privacy- &amp; Cookies Policy</h1>

        <h2>Cookies</h2>
<p>This site uses cookies, but only to send the data to Google Analytics. The <span class="caps">IP</span> is anonymised before reported to <span class="caps">GA</span>. No personal information is shared with <span class="caps">GA</span>. A third-party DoubleClick cookie is used to tap into statistics about the kind of users (such as age span and interest).</p>
<h2>Google Analytics</h2>
<p>Google Analytics is a web analysis service provided by Google. Google utilizes the data collected to track and examine the use of antoniusm.se, to prepare reports on its activities and share them with other Google services.</p>
<p>Google may use the data collected to contextualize and personalize the ads of its own advertising network.</p>
<h3>Personal data collected</h3>
<ul>
<li>Cookie and Usage Data.</li>
<li>Place of processing: <span class="caps">USA</span>.</li>
<li>Find <a href="http://www.google.com/intl/en/policies/privacy/">Google’s privacy policy here</a>.</li>
</ul>
