---
title: Published Works
layout: master
---

<h1>Published Works</h1>

<dl>
    <dt>Solitary Duality (in anthology <a href="http://www.amazon.com/Summer-Nights-Anthology-Noveling-Adventure-ebook/dp/B00ZUY7HFC/ref=sr_1_2?s=digital-text&amp;ie=UTF8&amp;qid=1434801795&amp;sr=1-2&amp;keywords=summer+nights"><i>Summer Nights</i></a>, free on Amazon)</dt>
    <dd>Boy meets boy during a single summer night on the Swedish west coast. Yngve's secret is that he's trans, but what is the hot Dag hiding?</dd>
</dl>

<h2>Series</h2>
<p>All current works are set in a world inspired by Swedish folklore. For details, character interviews and more, see <a href="https://smaty.se">Småty.se</a></p>
