<div itemscope itemtype="https://schema.org/copyrightHolder"><article itemscope itemtype="http://schema.org/Person" id="author-box" class="h-card p-author">
    <h3 itemprop="name" class="p-name"><span class="p-given-name">Antonius</span> <span class="p-additional-name">M.</span> <span class="p-family-name">Hogebrandt</span></h3>
    <img itemprop="image" src="/assets/images/portrait-small.png" width="260" height="260" class="featured-image u-photo" alt="Sepia portrait of Antonius M. Hogebrandt">

    <p class="p-note">While technological advances stopped others, at least one continued seeing the mystical beings that share our world.</p>
</article></div>
