<ul>
    <li><a href="#top-navigation">Top</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="{{ site.url }}/rss.xml">RSS Feed</a></li>
</ul>
<ul>
    <li><a href="/privacy-cookies">Privacy &amp; cookies</a></li>
    <li><a href="/colophone">Colophone</a></li>
    <li>{{copyright 'c-navigation--footer__link'}}</li>
</ul>
<ul>
    <li>{{> last-updated }}</li>
</ul>
<ul>
    <li><a href="https://antoniusm.se">Author Webpage</a></li>
</ul>
