<ul>
    <li><a href="#top-navigation">Top</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/rss.xml">RSS Feed</a></li>
</ul>
<ul>
    <li><a href="/privacy-cookies">Privacy &amp; cookies</a></li>
    <li><a href="/colophone">Colophone</a></li>
    <li><a href="https://smaty.se">Copyright &copy; <span itemprop="copyrightYear">2015-2016</span></a></li>
</ul>
<ul>
    <li>Last updated {{ lastUpdated }}</li>
</ul>
<ul>
    <li><a href="https://antoniusm.se">Author Webpage</a></li>
</ul>
