{{> head }}

    {{> top-navigation }}
    {{> browse-happy }}
<div class="l-container">
    <header class="c-site__header">
        <div class="c-site__title"><a href="/">Småty</a></div>
        <p class="tagline">&mdash; a weave of Scandinavian folklore</p>
    </header>
</div>
