<div class="top-navigation-container">
    <nav id="top-navigation" class="o-layout__container">
        {{ navItems "root" }}
        <div id="c-navigation--main__item--current">Current page / Main content</div>
    </nav>
</div>
