@import "typeface";
@import "global/brand-typography";

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 1px 0 rgba($sepia, 0.75);
}

.c-site__title,
#top-navigation {
    @extend %atreyu;
}

.character-quote {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.c-tagline {
    font-style: italic;
    font-weight: 700;
    padding: 0;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-indent: 2rem;
}
